@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap');

body {
    background-color: #343434;
}

h1, form {
    font-family: 'Montserrat', sans-serif;
    color: orange;
    font-size: 3rem;
}

input, button, label {
    padding: 0.5rem;
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    border: none;
    background: white;
}

label {
    color: orange;
    transition: all 0.3s ease;
}



body      { font-family: 'Montserrat', sans-serif; margin: 30px; }
input     { font-size: 1.2rem }
.book     { display: flex; align-items: flex-start;
            max-width: 400px; background-color: darkgrey;
            padding: 10px; margin: 10px 0px; }
.book img { width: 100px; margin-right: 10px; }
.book h2  { margin: 0px; }